#{extends 'main.html' /}
#{ set title:'Dependentes' /}


<fieldset>
	<legend>
		Morador
		<div class="voltar">
		#{secure.check "ADMINISTRACAO"}
			<a href="@{Moradores.index()}" class="btn btn-link">Voltar</a>
		#{/secure.check}
		#{secure.check "MORADOR"}
			#{secure.notcheck "ADMINISTRACAO" }
				<a href="@{Application.index()}" class="btn btn-link">Voltar</a>
			#{/secure.notcheck}
		#{/secure.check}
		</div>
	</legend>
	<div class="row">
		 <div class="col-lg-5" id="parente.nomeCompleto" >${parente.nomeCompleto}</div>
	</div>
</fieldset>
<br/>
<table class="table table-striped">
<thead>
	<tr>
		<th>Nome</th>
		<th>Grau de Parentesco</th>
		<th>Data de Nascimento</th>
		<th></th>
	</tr>
</thead>
<tbody>
#{if dependentes.size() == 0}
	<tr>
		<td colspan="4">Nenhum morador foi encontrado.</td>
	</tr>
#{/if}
#{else}
	#{list items:dependentes, as:'dependente'}
	<tr>
		<td id="dependente" dependente="${dependente.id}">${dependente.nomeCompleto}</td>
		<td>${dependente.grauParentesco.nome}</td>
		<td>${dependente.dataNascimento.format('dd-MM-yyyy')}</td>
		<td></td>
	</tr>
	#{/list}
#{/else}
</tbody>
</table>
#{secure.check "ADMINISTRACAO" }
		<a id="dependente" href="@{Dependentes.add(params.morador)}" class="btn btn-primary ">Adicionar</a>	
#{/secure.check}
#{secure.check "MORADOR"}
	#{secure.notcheck "ADMINISTRACAO" }
		<a id="dependente" href="@{Usuarios.dependente()}" class="btn btn-primary ">Adicionar</a>	
	#{/secure.notcheck}
#{/secure.check}
