#{extends 'main.html' /}
#{ set title:'Dependentes' /}



#{form @Dependentes.save(object.id) ,class:'form-horizontal'}
	<fieldset>
		<legend>Dependente
		<div class="voltar"><a href="@{Dependentes.search(object.morador.id)}" class="btn btn-link">Voltar</a></div>
		</legend>

        #{include 'Dependentes/_form.html' /}
		
		
		<div class="form-group bottom">
			<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" name="_save" value="Salvar" class="btn btn-primary" />
				<input type="submit" name="_saveAndContinue" value="Salvar e Continuar edi&ccedil;&atilde;o" class="btn btn-primary" />
			</div>	
		</div>
		
		
			
	</fieldset>	
#{/form}
