<div id="apartamento" class="shadow">
	<div class="fechar" >
		<img  src="@{'/public/images/close.png'}" alt="fechar" />
	</div>
	<fieldset>
		<legend>Apartamento</legend>
		<div class="row">
			 <div class="col-lg-2">Bloco</div>
			 <div class="col-lg-1" id="bloco" ></div>
		</div>
		<div class="row">
			<div class="col-lg-2">Numero</div>
			<div class="col-lg-1" id="numero" ></div>
		</div>
		<div class="row">
			<div class="col-lg-2">&Aacute;rea</div>
			<div class="col-lg-1" id="area"></div>
		</div>						
	</fieldset>
	#{secure.check "SUPERADMIN"}
		<a id="edit" href="#" class="btn btn-primary btn-lg">Editar</a>
	#{/secure.check}	
	<a id="vagas" href="#" class="btn btn-primary">Vagas</a>
	<a id="lancamento" href="#" class="btn btn-primary">Lan&ccedil;amentos</a>
</div>