<div id="morador" class="shadow">
	<div class="fechar" >
		<img  src="@{'/public/images/close.png'}" alt="fechar" />
	</div>
	<fieldset>
		<legend>Morador</legend>
		<div class="row">
			 <div class="col-lg-3">Nome completo</div>
			 <div class="col-lg-5" id="nomeCompleto" ></div>
		</div>
		<div class="row">
			<div class="col-lg-3">E-mail</div>
			<div class="col-lg-5" id="email"></div>
		</div>
		<div class="row">
			 <div class="col-lg-3">CPF</div>
			 <div class="col-lg-5" id="cpf" ></div>
		</div>
		<div class="row">
			<div class="col-lg-3">Data de Nascimento</div>
			<div class="col-lg-5" id="dataNascimento" ></div>
		</div>
		<div class="row">
			<div class="col-lg-3">N&ordm; Identidade</div>
			<div class="col-lg-5" id="identidade" ></div>
		</div>
		<div class="row">
			<div class="col-lg-3">Org&atilde;o Emissor</div>
			<div class="col-lg-5" id="orgaoemissor" ></div>
		</div>						
		<div class="row">
			<div class="col-lg-3">Data de Emiss&atilde;o</div>
			<div class="col-lg-5" id="dataemissao"></div>
		</div>
		<div class="row">
			<div class="col-lg-3">Telefone Residencial</div>
			<div class="col-lg-5" id="telefoneResidencial"></div>
		</div>
		<div class="row">
			<div class="col-lg-3">Telefone Comercial</div>
			<div class="col-lg-5" id="telefoneComercial"></div>
		</div>
	</fieldset>
	<a id="edit" href="#" class="btn btn-primary btn-lg">Editar</a>
	<a id="dependente" href="#" class="btn btn-primary btn-lg">Dependentes</a>	
</div>