<div id="vaga" class="shadow">
	<div class="fechar">
		<img src="@{'/public/images/close.png'}" alt="fechar" />
	</div>
	<fieldset>
		<legend>Vaga</legend>
		<div class="row">
			<div class="col-lg-3">Local</div>
			<div class="col-lg-5" id="local"></div>
		</div>
		<div class="row">
			<div class="col-lg-3">N&ordm;</div>
			<div class="col-lg-5" id="numeroVaga"></div>
		</div>
		<div class="row">
			<div class="col-lg-3">Observa&ccedil;&atilde;o</div>
			<div class="col-lg-5" id="observacao"></div>
		</div>
		<div class="row">
			<div class="col-lg-3">Alugada para</div>
			<div class="col-lg-5" id="alugado"></div>
		</div>
	</fieldset>
	<a id="edit" href="#" class="btn btn-primary btn-lg">Editar</a>
</div>