#{extends 'main.html' /}
#{set title:'Editar Apartamento' /}

    #{form @Apartamentos.save(object.id), enctype:'multipart/form-data' , class:'form-horizontal'}
        <fieldset>
			<legend>
				Apartamento
				<div class="voltar"><a href="@{Moradores.index()}" class="btn btn-link">Voltar</a></div>
			</legend>

            #{select fieldname:'object.bloco.id', target:'object.bloco.id', list:blocos, label:"Bloco", value: bloco?.id, labelfield: 'bloco' /}

            #{edittext fieldid:"object.numero", fieldname:"object.numero", label:"Número",value:object.numero /}

            #{edittext fieldid:"object.area", fieldname:"object.area", label:"Área",value:object.area /}

			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input type="submit" name="_save" value="Salvar" class="btn btn-primary" />
					<input type="submit" name="_saveAndContinue" value="Salvar e Continuar edi&ccedil;&atilde;o" class="btn btn-primary" />
				</div>	
			</div>
		</fieldset>
        
    #{/form}
    