body {
	padding-top: 70px;
}

.container {
	
	height: auto;	
	padding: 0 15px;
	
}

.voltar {
	float: right;
	margin-top: -30px;
}

.hasError {
	color: #c00;
	border-color: #c00;
	background-color: #fcf2f2;
}

.error {
	color: #c00;
	padding-left: 10px;
	position: absolute;
	font-size: 80%;
}

.bottom {
	margin-bottom: 90px;	
}

.shadow {
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}

div#morador,div#apartamento,div#dependente,div#vaga,div#foto,div#moradores {
	display: none;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	background-color: #FFFFFF;
}

div#morador,div#dependente {
	width: 700px;
}

div#moradores {
	width: 720px;
	height: 550px;
}

div#foto {
	width: 680px;
}

div#apartamento,div#vaga {
	width: 500px;
}

.fechar {
	float: right;
	margin-top: -30px;
	margin-right: -30px;
}

div#apartamento a,div#morador a,div#dependente a,div#vaga a,div#foto a, div#moradores a {
	margin-top: 10px;
}


.search {
	width: 32px;
	height: 32px;
	margin-top: 5px;
}


#login {
    margin-top: 10px;
    margin-left:200px;
    padding-left: 40px;
    padding-right: 10px;        
    text-align: left;
    padding-top: 10px;
    float: right; 
    display: inline-block;  
     
}

#login label {
	padding-left: 5px;
	padding-right: 5px;
}