body {
  padding-top: 70px;
}

.voltar { 
	float:right;
	margin-top:-5px; 
}

.hasError {
	color: #c00;
	border-color: #c00;
	background-color: #fcf2f2;	
}

.error {
	color: #c00;
	padding-left: 10px;
	position: absolute;
	font-size: 80%;
}


.bs-footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 100px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

div#morador, div#apartamento, div#dependente , div#vaga , div#foto {
	display:none;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	background-color: #FFFFFF;
}

div#morador, div#dependente{
	width:700px;	
}

div#foto {
	width:680px;
}

div#apartamento  , div#vaga{
	width:500px;	
}

.fechar {
	float:right;
	margin-top:-30px;
	margin-right:-30px;	 
}

div#apartamento a, div#morador a, div#dependente a  , div#vaga a , div#foto a{
	margin-top: 10px;	
}

.bs-callout h4 {
	margin-top: 0;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bs-callout-success {
  background-color: #dff0d8;
  border-color: #468847;
}
