#{extends 'main.html' /}
#{ set title:'Relatorios' /}


	<fieldset>
		<legend>Relat&oacute;rios > Inadimplentes		
			<div class="voltar">
				<a href="@{Relatorios.inadimplentes()}" class="btn btn-link">Voltar</a>				
			</div>		
		</legend>
		
	

<table class="table table-striped">
<thead>
	<tr>
		<th>Bloco</th>
		<th>Apartamento</th>
		<th>Proprietario</th>
		<th>Data de Vencimento</th>
		<th>Valor</th>
		<th></th>
	</tr>
</thead>
<tbody>
	#{if boletos.size() == 0}
		<tr>
			<td colspan="6">Nenhum boleto foi encontrado.</td>
		</tr>
	#{/if}
	#{else}
		#{list items:boletos, as:'boleto'}
			<tr>
				<td>${boleto.apartamento.bloco.bloco}</td>
				<td>${boleto.apartamento.numero}</td>
				<td id="morador" cpf="${boleto.apartamento.getProprietario().cpf}">${boleto.apartamento.getProprietario().nomeCompleto}</td>
				<td>${boleto.dataVencimento.format("dd-MM-yyyy")}</td>
				<td>${boleto.valor.format("#,## 0.00")}</td>
				<td align="right" width="25%">
					<a href="@{Lancamentos.detalhar(boleto.id)}" class="btn btn-success btn-sm">Lan&ccedil;amentos</a>
					<a href="@{Boletos.show(boleto.id,params.dataVencimento,params.bloco,params.apartamento,page)}" class="btn btn-success btn-sm">Editar</a>
					#{if boleto.podeImprimir()}
						<a href="@{Boletos.imprimir(boleto.id)}"><img src="@{'/public/images/print.png'}" alt="Imprimir boleto"/></a>
					#{/if}									
				</td>
			</tr>
		#{/list}
	#{/else}
</tbody>
<tfoot>
	<tr>
		<td colspan="4" align="right"><b>Total</b></td>
		<td>${total.format("#,## 0.00")}</td>
		<td></td>
	</tr>
</tfoot>
</table>
