#{extends 'main.html' /}
#{set title:'Morador' /}


#{form @Usuarios.salvar() ,enctype:'multipart/form-data' , class:'form-horizontal'}
	    <input type="hidden" id="id" name="object.id" value="${object.id}"/>
		<fieldset>
		<legend>
			Meus Dados
			<div class="voltar"><a href="@{Application.index()}" class="btn btn-link">Voltar</a></div>
		</legend>

        #{include 'Moradores/_form.html' /}
		
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" value="Salvar" class="btn btn-primary" />
			</div>	
		</div>

	</fieldset>	
#{/form}