#{extends 'main.html' /}
#{ set title:'Meus boletos' /}

<table class="table table-striped bottom">
<thead>
	<tr>
		<th>Data de Vencimento</th>		
		#{secure.check 'PROPRIETARIO'}
			<th>Bloco</th>
			<th>Apartamento</th>
		#{/secure.check}
		<th>Valor</th>
		<th></th>
	</tr>
</thead>
<tbody>
	#{if boletos.size() == 0}
		<tr>
        #{secure.check 'PROPRIETARIO'}
			<td colspan="5">Nenhum boleto foi encontrado.</td>
        #{/secure.check}
        #{secure.notcheck 'PROPRIETARIO'}
            <td colspan="5">Nenhum boleto foi encontrado.</td>
        #{/secure.notcheck}
        </tr>
	#{/if}
	#{else}
		#{list items:boletos, as:'boleto'}
			<tr>				
				<td>${boleto.dataVencimento.format("dd-MM-yyyy")}</td>
				#{secure.check 'PROPRIETARIO'}
					<td>${boleto.apartamento.bloco.bloco}</td>
					<td>${boleto.apartamento.numero}</td>
				#{/secure.check}
				<td>${boleto.valor.format("#,## 0.00")}</td>
				<td align="right" width="25%">
					<a href="@{Lancamentos.detalhar(boleto.id)}" class="btn btn-success btn-sm">Lan&ccedil;amentos</a>
					#{if boleto.podeImprimir()}
						<a href="@{Boletos.imprimir(boleto.id)}"><img src="@{'/public/images/print.png'}" alt="Imprimir boleto"/></a>
					#{/if}									
				</td>
			</tr>
		#{/list}
	#{/else}
</tbody>
<tfoot>
		<tr>
		#{secure.check 'PROPRIETARIO'}
			<td colspan="2"></td>
		#{/secure.check}
		<td align="right"><b>Total</b></td>
		<td>${total.format("#,## 0.00")}</td>
		<td></td>
	</tr>
</tfoot>
</table>
