<html lang="pt-BR">
<head>
<title>#{get 'title' /}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap.min.css'}">
<link rel="stylesheet" href="@{'/public/stylesheets/jquery-ui.css'}">
<link rel="stylesheet" href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" href="@{'/public/stylesheets/jquery.Jcrop.min.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
#{get 'moreScripts' /}
</head>
<body>
	<header class="bs-header">
		<div class="container">
			<div class="navbar navbar-default navbar-fixed-top bs-docs-nav">
				<a class="navbar-brand" href="/">Condom&iacute;nio Vivendas do
					Parque</a>
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						#{secure.check "ADMINISTRACAO"}
							<li class="active"><a href="@{Moradores.index()}">Apartamentos</a></li>
							<li><a href="@{ExameMedicos.list()}">Exames Médico</a></li>
						#{/secure.check}
						#{secure.check "FINANCEIRO"}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Financeiro<b class="caret"></b></a>
								<ul class="dropdown-menu">
					                <li><a href="@{Lancamentos.blank()}">Efetuar Lançamento</a></li>
					                <li><a href="@{Boletos.index()}">Gerar Boletos</a></li>
					                <li><a href="@{Boletos.pesquisar()}">Pesquisar Boletos</a></li>
					                <li><a href="@{Boletos.condominio()}">Calcular o condom&iacute;nio</a></li>
					             </ul>
	              			</li>
              			#{/secure.check}
              			#{secure.check "FINANCEIRO"}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios<b class="caret"></b></a>
								<ul class="dropdown-menu">
					                <li><a href="@{Relatorios.inadimplentes()}">Inadimplentes</a></li>					                
					             </ul>
	              			</li>
              			#{/secure.check}
              			#{secure.check "SUPERADMIN"}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurações<b class="caret"></b></a>
								<ul class="dropdown-menu">
					                <li><a href="@{ConfigurarBoleto.index()}">Gerador de Boletos</a></li>					                
									<li><a href="@{Conselheiros.index()}">Conselho</a></li>					                
					             </ul>
	              			</li>
              			#{/secure.check}
              		</ul>
              		#{if session.contains("username")}
              			<div class="nav navbar-nav navbar-right" style="padding-right: 15px;">
							<a class="navbar-brand" href="#">Trocar a senha</a>
						
							<a class="navbar-brand" href="@{Secure.logout()}">Sair</a>
						</div>
					#{/if}
				</div>				
				
			</div>

		</div>
	</header>
	<div class="container bs-docs-section wrap">
			
			<div class="row" >
				<div class="col-lg-4" style="margin-left: -60px;">
					#{include 'includes/menu.html' /}
				</div>
				<div class="col-lg-12 col-lg-offset-1" style="float:right;">
					#{if flash.success}
			            <div class="alert alert-dismissable alert-success">
			                ${flash.success}
			            </div>
					#{/if}
					#{if flash.error || error}
					    <div class="alert alert-dismissable alert-danger">
					    	<h4>Ocorreu um erro no processamento</h4>
					         <p>${error ?: flash.error}</p>
					    </div>
					#{/if}					
					#{doLayout /}
				</div>
			</div>
	</div>
	<footer class="bs-footer">
		<div class="container">
			Condom&iacute;nio Vivendas do Parque
		</div>					
	</footer>
</body>
#{include 'includes/apartamento.html' /}
#{include 'includes/morador.html' /}
#{include 'includes/dependente.html' /}
#{include 'includes/vaga.html' /}
#{include 'includes/foto.html' /}
#{include 'includes/moradores.html' /}
<script src="@{'/public/javascripts/jquery.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui-datepicker-pt.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-maskinput.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/bootstrap.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/bootstrap.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.color.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.Jcrop.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.maskMoney.min.js'}" type="text/javascript"
	charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/bosque.js'}" type="text/javascript"
	charset="${_response_encoding}"></script>			
</html>
