<html lang="pt-BR">
<head>
<title>#{get 'title' /}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap.min.css'}">
<link rel="stylesheet" href="@{'/public/stylesheets/jquery-ui.css'}">
<link rel="stylesheet" href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" href="@{'/public/stylesheets/jquery.Jcrop.min.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
#{get 'moreScripts' /}
</head>
<body>
	<header class="bs-header">
		<div class="container">
			#{include 'includes/topmenu.html'/}
		</div>
	</header>
	<div class="container wrap">
			
			<div class="bs-docs-section">
				<div class="row">
					<div class="col-lg-4" style="margin-left: -90px">
						#{include 'includes/menu.html' /}
					</div>
					<div class="col-lg-10 col-lg-offset-1" style="padding-right:20px;  position: absolute;">
						#{include 'includes/flash.html' /}
						#{doLayout /}
					</div>
				</div>
			</div>
	</div>
	
</body>
#{include 'includes/apartamento.html' /}
#{include 'includes/morador.html' /}
#{include 'includes/dependente.html' /}
#{include 'includes/vaga.html' /}
#{include 'includes/foto.html' /}
#{include 'includes/moradores.html' /}
<script src="@{'/public/javascripts/jquery.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui-datepicker-pt.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-maskinput.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/bootstrap.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/bootstrap.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.color.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.Jcrop.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery.maskMoney.min.js'}" type="text/javascript"
	charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/bosque.js'}" type="text/javascript"
	charset="${_response_encoding}"></script>			
</html>
