#{extends 'main.html' /}
#{ set title:'Boleto' /}

#{form @Boletos.gerarBoleto() ,class:'form-horizontal'}
	<fieldset>
		<legend>Boleto		
			<div class="voltar">
				<a href="@{Moradores.index()}" class="btn btn-link">Voltar</a>				
			</div>		
		</legend>

        #{edittext fieldid:"dataVencimento", fieldname:"dataVencimento", label:"Data de Vencimento",value:params?.dataLancamento?.format('dd-MM-yyyy') /}

		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" name="gerar" value="Gerar Boletos" class="btn btn-primary" />
			</div>	
		</div>
		
	</fieldset>
#{/form}