#{extends 'main.html' /}
#{ set title:'Boleto' /}

#{form @Boletos.pesquisar() ,class:'form-horizontal'}
	<fieldset>
		<legend>Boleto		
			<div class="voltar">
				<a href="@{Moradores.index()}" class="btn btn-link">Voltar</a>				
			</div>		
		</legend>
		
		
							
			<div class="form-group">
				<label for="bloco" class="col-lg-2 control-label">Bloco</label>
				<div class="col-lg-3">
					#{field 'bloco' }
					<select id="bloco" name="bloco" class="${field.errorClass} input-lg form-control">
						<option value="" />
						#{list items:blocos, as:'bloco'}
							#{if bloco.id.toString() == params.bloco.toString()}
								<option value="${bloco.id}" selected="selected">${bloco.bloco}</option>
							#{/if}
							#{else}
								<option value="${bloco.id}">${bloco.bloco}</option>
							#{/else}
						#{/list}
					</select>
					#{/field}
				</div>
			</div>
			
			<div class="form-group">				
				<label for="apartamento" class="col-lg-2 control-label">Apartamento</label>
				<div class="col-lg-3">
						<select id="apartamento" name="apartamento" class="input-lg form-control">
							<option value="" />
							#{list items:apartamentos, as:'apartamento'}
								#{if apartamento.id.toString() == params.apartamento.toString() }
									<option value="${apartamento.id}" selected="selected">${apartamento.numero}</option>
								#{/if}
								#{else}
									<option value="${apartamento.id}">${apartamento.numero}</option>
								#{/else}
							#{/list}
						</select>
				</div>
			</div>
		
		
		<div class="form-group">
			<label for="dataVencimento" class="col-lg-2 control-label">Data do Vencimento</label>
			<div class="col-lg-3">
					<input type="text" name="dataVencimento" id="dataVencimento" value="${params.dataVencimento}" class="input-lg form-control"  />					
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" name="pesquisar" value="Pesquisar" class="btn btn-primary" />
			</div>	
		</div>
		
	</fieldset>
#{/form}

<table class="table table-striped">
<thead>
	<tr>
		<th>Bloco</th>
		<th>Apartamento</th>
		<th>Proprietario</th>
		<th>Data de Vencimento</th>
		<th>Data do Pagamento</th>
		<th>Data do Cancelamento</th>
		<th>Valor</th>
		<th></th>
	</tr>
</thead>
<tbody>
	#{if boletos.size() == 0}
		<tr>
			<td colspan="8">Nenhum boleto foi encontrado.</td>
		</tr>
	#{/if}
	#{else}
		#{list items:boletos, as:'boleto'}
			<tr>
				<td>${boleto.apartamento.bloco.bloco}</td>
				<td>${boleto.apartamento.numero}</td>
				<td id="morador" cpf="${boleto.apartamento.getProprietario().cpf}">${boleto.apartamento.getProprietario().nomeCompleto}</td>
				<td>${boleto.dataVencimento.format("dd-MM-yyyy")}</td>
				<td>${boleto.dataPagamento?.format("dd-MM-yyyy")}</td>
				<td>${boleto.dataCancelamento?.format("dd-MM-yyyy")}</td>
				<td>${boleto.valor.format("#,## 0.00")}</td>
				<td align="right" width="25%">
					<a href="@{Lancamentos.detalhar(boleto.id)}" class="btn btn-success btn-sm">Lan&ccedil;amentos</a>
					<a href="@{Boletos.show(boleto.id,params.dataVencimento,params.bloco,params.apartamento,page)}" class="btn btn-success btn-sm">Editar</a>
					#{if boleto.podeImprimir()}
						<a href="@{Boletos.imprimir(boleto.id)}"><img src="@{'/public/images/print.png'}" alt="Imprimir boleto"/></a>
					#{/if}									
				</td>
			</tr>
		#{/list}
	#{/else}
</tbody>
<tfoot>
		<tr>
			<td colspan="8">
				<ul class="pager">
  					<li class="previous #{if page == null || page <= 1 || count <= 1 } disabled #{/if}"><a href="@{Boletos.pesquisar(params.dataVencimento,params.bloco,params.apartamento,page-1)}">&larr; Anterior</a></li>
  					<li class="next #{if page !=null && ( page == count || count <= 1 )} disabled #{/if}"><a href="@{Boletos.pesquisar(params.dataVencimento,params.bloco,params.apartamento,page+1)}">Pr&oacute;ximo &rarr;</a></li>
				</ul>
			</td>
		</tr>
</tfoot>
</table>
