
        #{edittext fieldid:"cpf", fieldname:"object.cpf", value:object.cpf /}

        #{edittext fieldid:"nomeCompleto" , fieldname:"object.nomeCompleto", value:object.nomeCompleto /}

        #{edittext fieldid:"dataNascimento", fieldname:"object.dataNascimento",value:object.dataNascimento?.format() /}

        #{edittext fieldid:"identidade", fieldname:"object.identidade",value:object.identidade /}

        #{edittext fieldid:"orgaoEmissor", fieldname:"object.orgaoEmissor",value:object.orgaoEmissor /}

        #{edittext fieldid:"dataEmissao", fieldname:"object.dataEmissao",value:object.dataEmissao?.format() /}

        #{edittext fieldid:"email", fieldname:"object.email",value:object.email /}

        #{edittext fieldid:"telefoneResidencial", fieldname:"object.telefoneResidencial",value:object.telefoneResidencial /}

        #{edittext fieldid:"telefoneComercial", fieldname:"object.telefoneComercial",value:object.telefoneComercial /}

