#{extends 'main.html' /}
#{set title:'Moradores' /}

#{form @Moradores.pesquisar() , method:'POST' , class:'form-horizontal'}
	<fieldset>
		<legend>Moradores		
			<div class="voltar">
				<a href="@{Moradores.index()}" class="btn btn-link">Voltar</a>				
			</div>		
		</legend>

        #{select fieldname:'bloco', target:'bloco.id', list:blocos, label:"Bloco", value: bloco?.id, labelfield: 'bloco' /}

        #{select fieldname:'apartamento', target:'apartamento.id', list:apartamentos, label:"Apartamento", value: apartamento?.id, labelfield: 'numero' /}
			
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" name="pesquisar" value="Pesquisar" class="btn btn-primary btn-lg" />
			</div>	
		</div>
		
	</fieldset>
#{/form}


<table class="table table-striped">
<thead>
	<tr>
		<th>Bloco</th>
		<th>Apartamento</th>
		<th>Morador</th>
		<th>Proprietario</th>
		<th></th>
	</tr>
</thead>
<tbody>
#{if moradores.size() == 0}
	<tr>
		<td colspan="5">Nenhum morador foi encontrado.</td>
	</tr>
#{/if}
#{else}
	#{list items:moradores, as:'apartamento'}
		<tr>
			<td>${apartamento.bloco.bloco}</td>
			<td id="apartamento" apartamento="${apartamento.id}">${apartamento.numero}</td>
			<td id="morador" #{secure.check "ADMINISTRACAO"}cpf="${apartamento.getMorador().cpf}" #{/secure.check}>${apartamento.getMorador().nomeCompleto}</td>
			<td id="morador" #{secure.check "ADMINISTRACAO"}cpf="${apartamento.getProprietario().cpf}" #{/secure.check}>${apartamento.getProprietario().nomeCompleto}</td>
			<td><a id="open" href="@{Moradores.abrir(apartamento.id)}" class="btn btn-success btn-sm">Editar</a></td>	
	#{/list}
#{/else}
</tbody>
<tfoot>
		<tr>
			<td colspan="8">
				<ul class="pager">
  					<li class="previous #{if page == null || page <= 1 || count <= 1 } disabled #{/if}"><a href="@{Moradores.pesquisar(bloco?.id,apartamento?.id,page-1)}">&larr; Anterior</a></li>
  					<li class="next #{if page !=null && ( page == count || count <= 1 )} disabled #{/if}"><a href="@{Moradores.pesquisar(bloco?.id,apartamento?.id,page+1)}">Pr&oacute;ximo &rarr;</a></li>
				</ul>
			</td>
		</tr>
</tfoot>
</table>
#{secure.check "ADMINISTRACAO"}
	<a href="@{Moradores.novo()}" class="btn btn-primary bottom">Incluir um novo morador</a>
#{/secure.check}
