#{extends 'main.html' /}
#{set title:'Morador' /}


#{form @Moradores.submit() ,enctype:'multipart/form-data' , class:'form-horizontal'}

	    <input type="hidden" id="id" name="object.id" value="${object.id}"/>
		<fieldset>
		<legend>
            Morador
            <div class="voltar"><a href="@{Moradores.index()}" class="btn btn-link">Voltar</a></div>
        </legend>

		#{select fieldname:'bloco', target:'apartamento.bloco.id', list:blocos, label:"Bloco", value: bloco?.id, labelfield: 'bloco' /}

        #{select fieldname:'apartamento', target:'apartamento.id', list:apartamentos, label:"Apartamento", value: apartamento?.id, labelfield: 'numero' /}

		#{include 'Moradores/_form.html' /}

        #{morador_type tipo:params.tipo /}

        #{edittext fieldid:"dataEntradaImovel", fieldname:"dataEntradaImovel", label:"Data de Entrada",value:params.dataEntradaImovel /}

        #{edittext fieldid:"dataSaidaImovel", fieldname:"dataSaidaImovel", label:"Data de Saida",value:params.dataSaidaImovel /}

        #{filefield fieldname:"escritura", label:"Escritura" /}

		<div class="form-group bottom">
			<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" value="Salvar" class="btn btn-primary" />
			</div>	
		</div>
			
	</fieldset>	
#{/form}