#{extends 'main.html' /}
#{set title:'Editar Morador' /}

 #{form @Moradores.save(object.id), enctype:'multipart/form-data' , class:'form-horizontal'}
        <fieldset>
			<legend>
				Morador
				<div class="voltar"><a href="@{Moradores.index()}" class="btn btn-link">Voltar</a></div>
			</legend>
			<input type="hidden" name="object.id" value="${object.id}" />
			#{include 'Moradores/_form.html' /}
		
		<!-- <img id="foto"></img>  -->
		
		<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input type="submit" name="_save" value="Salvar" class="btn btn-primary" />
					<input type="submit" name="_saveAndContinue" value="Salvar e Continuar edi&ccedil;&atilde;o" class="btn btn-primary" />
					<!-- <a id="foto" class="btn btn-primary btn-lg">Tirar Foto</a>  -->
				</div>	
			</div>
		</fieldset>
    #{/form}
